*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.wrap{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    .homePage{
        width: 100%;
        height: 100vh;
        transition: 1s;
        background-position: center;
        background-size: cover;
        background-image: url(../img/bgImg1.jpg);
        .backgroundMack{
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 50px 7.5%;
            header{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    img{
                        height: 90px;
                    }
                }
                .soundStatistic{
                    img{
                        height: 90px;
                    }
                }
            }
            main{
                width: 100%;
                height: calc(100vh - 194px);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .mainTop{
                    width: 100%;
                    display: flex;
                    margin-bottom: 100px;
                    .mainLeft{
                        display: flex;
                        .soundControl{
                            display: flex;
                            align-items: flex-end;
                            #controlBtn{
                                width: 200px;
                                height: 200px;
                                background-position: center;
                                background-size: cover;
                                transition: 0.2s;
                                cursor: pointer;
                            }
                            .playBtn{
                                background-image: url(../img/play.png);
                            }
                            .pauseBtn{
                                background-image: url(../img/pauseBtn.png);
                            }
                            .soundVolume{
                                transform: rotate(270deg);
                                margin-bottom: 110px;
                                margin-left: -50px;
                                background-size: cover;
                                background-position: center;
                                background-image: url(../img/soundLine.png);
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                img{
                                    width: 22px;
                                    position: absolute;
                                    margin-left: 44%;
                                }
                                input{
                                    width: 210px;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                            }
                        }
                        .musicInfo{
                            color: white;
                            position: relative;
                            top: 10px;
                            right: 30px;
                            .performerName{
                                margin-top: 20px;
                                color: #E6E6E6;
                                font-size: 1.4em;
                            }
                            .musicName{
                                min-width: 400px;
                                font-size: 2.2em;
                                font-weight: 700;
                            }
                        }
                    }
                    .mainRight{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        .swichBgBtns{
                            img{
                                width: 40px;
                                margin: 0 30px;
                                cursor: pointer;
                                margin-top: 110px;
                            }
                            img:last-child{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
                .mainBottom{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .radioBtnContainer{
                        display: flex;
                        .radioBtn{
                            width: 25px;
                            height: 25px;
                            background-size: cover;
                            background-position: center;
                            background-image: url(../img/radioBtn.png);
                            margin: 0 5px;
                            cursor: pointer;
                            transition: 0.2s;
                        }
                        .radioBtn__active{
                            background-image: url(../img/activeRadioBtn.png);
                        }
                    }
                }
            }
        }
    }
}
@media screen and(max-width:1512px){
    .wrap {
        .homePage{
            .backgroundMack{
                header{
                    .logo{
                        img{
                            height: 80px;
                        }
                    }
                    .soundStatistic{
                        img{
                            height: 75px;
                        }
                    }
                }
                main{
                    .mainTop{
                        .mainLeft{
                            .soundControl{
                                #controlBtn{
                                    width: 180px;
                                    height: 180px;
                                }
                                .soundVolume{
                                    margin-bottom: 100px;
                                    input{
                                        width: 190px;
                                    }
                                    img{
                                        width: 20px;
                                    }
                                }
                            }
                            .musicInfo{
                                .musicName{
                                    font-size: 2em;
                                    min-width: 330px;
                                }
                                .performerName{
                                    font-size: 1.3em;
                                    margin-bottom: 100px;
                                }
                            }
                        }
                        .mainRight{
                            .swichBgBtns{
                                img{
                                    width: 38px;
                                }
                            }
                        }
                    }
                    .mainBottom{
                        .radioBtnContainer{
                            .radioBtn{
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and(max-width:1000px){
    .wrap{
        .homePage{
            .backgroundMack{
                padding: 25px 3%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                header{
                    display: flex;
                    justify-content: center;
                    .logo{
                        img{
                            height: 55px;
                        }
                    }
                    .soundStatistic{
                        img{
                            height: 60px;
                            display: none;
                        }
                    }
                }
                main{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .mainTop{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 30px;
                        .mainLeft{
                            flex-direction: column;
                            align-items: center;
                            .soundControl{
                                margin-left: 47px;
                                #controlBtn{
                                    width: 150px;
                                    height: 150px;
                                }
                                .soundVolume{
                                    background-size: 100%;
                                    margin-bottom: 80px;
                                    input{
                                        width: 160px;
                                    }
                                    img{
                                        width: 17px;
                                    }
                                }
                            }
                            .musicInfo{
                                right: 0;
                                text-align: center;
                                margin: 10px 0;
                                .musicName{
                                    font-size: 1.6em;
                                    min-width: 300px;
                                }
                                .performerName{
                                    font-size: 1.1em;
                                    margin-bottom: 0px;
                                    margin-top: 8px;
                                }
                            }
                        }
                        .mainRight{
                            display: flex;
                            justify-content: center;
                            margin-top: 20px;
                            .swichBgBtns{
                                img{
                                    width: 28px;
                                    margin-top: 0;
                                    margin: 0 18px;
                                }
                            }
                        }
                    }
                    .mainBottom{
                        .radioBtnContainer{
                            .radioBtn{
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
                
}